     :root {
        /* DEFINIR PALETA DE  COLORES */
        --blanco: #ffffff;
        --oscuro: #212121;
        --primario: #FFC107;
        --secundario: #0097a7;
        --Gris: #757575;
        --fuente-principal: 38 rem;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-size: 16px;
        /* 1 rm :10 px */
        font-family: 'Krub', sans-serif;
    }
    
    .titulo {
        text-align: center;
        font-size: var(--fuente-principal);
    }
    
    .titulo span {
        font-size: 2rm;
    }
    
    .contenedor {
        max-width: 120 rem;
        margin: 0 auto;
    }
    
    .nav-bg {
        background-color: var(--secundario);
    }
    
    .navegacion-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    @media (min-width: 768px) {
        .navegacion-principal {
            flex-direction: row
        }
        ;
    }
    
    .navegacion-principal a {
        color: var(--blanco);
        text-decoration: none;
        font-size: rem;
        font-weight: normal;
        padding: 1rem;
    }
    
    .navegacion-principal a:hover {
        background-color: var(--primario);
        color: var(--oscuro);
    }
    
    body {
        background-color: yellow;
    }
    
    @media (min-width: 480px) {
        body {
            background-color: blue;
        }
    }
    
    @media (min-width: 768px) {
        body {
            background-color: cornflowerblue;
        }
    }